<div class="container">
  <md-progress-bar *ngIf="!users" mode="indeterminate"></md-progress-bar>
  <div *ngIf="users">
    <md-input-container class="searchform">
      <input mdInput placeholder="Your Name" #name>
    </md-input-container>
    <div  *ngFor="let user of users | search: name.value; let i=index">
      <md-card *ngIf="i<6" class="usercard" [routerLink]="['/user', user.id]">
        <div class="user">
          <img src="{{user.photo}}">
          <p>{{user.name}}</p>
        </div>
      </md-card>
    </div>
  </div>
</div>
