<div class="container">
  <md-card>
    <md-card-header>
      <md-card-title>
        Welcome to ngDublin
      </md-card-title>
      <md-card-subtitle>
        Please login and check in :)
      </md-card-subtitle>
    </md-card-header>
    <img md-card-image src="assets/banner.png" width="100%">
    <md-card-content>
      Please let us know if you would be interested in
      attending an Angular Workshop in the near future.
      Any feedback or suggestions on meetup / workshop
      are more than welcome !
    </md-card-content>
  </md-card>
</div>